/* ===== Reservation ===== */
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 30px;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  flex-wrap: wrap;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-top: 40px;
  max-width: 385px;
}
.reservation__title {
  font-size: 44px;
  line-height: 52px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  margin-bottom: 80px;
}

.reservation__label {
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}

.reservation__input {
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 0px 32px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  width: 100%;
  height: 60px;

}

.reservation__button {
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 15px 0;
  background-color: #d35722;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  height: 60px;
  font-weight: 500;
}

.reservation__button:hover {
  transition: ease-in 0.3s;
  opacity: 0.7;
}

.reservation__checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  row-gap: 12px;
  justify-content: center;
}

.reservation__checkbox {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

/* ===== Footer ===== */

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #d35722;
  overflow: hidden;
  padding: 60px 80px;
}


.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__circle {
border-radius: 100%;
    padding-left: 80px;
    width: 340px;
    height: 340px;
    position: absolute;
    left: -4px;
    top: -128px;
    background-color: #E96E3A;
    z-index: 1;
}

.footer__social {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  row-gap: 20px;
}

.footer__social-title {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__column {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
  width: 100%;
}

.footer__copyright {
  display: flex;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  margin-top: 108px;
}

.footer__socials {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer__social-link {
  display: flex;
  text-decoration: none;
  color: inherit;
  column-gap: 10px;

}

.footer__social-link:hover {
  transition: ease-in 0.3s;
  color:#FFD6C5;
}


.footer__column-columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
