* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
}

/* ===== Header ===== */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 0 40px;
  background-image: url("../Images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ===== Navigation ===== */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 26px 0 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__item {
  margin-left: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

/* ===== Header Content ===== */
.header__title {
  margin-top: 183px;
  margin-left: 80px;
  max-width: 709px;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  font-weight: 500;
}

.header__title-accent {
  display: block;
  font-family: "Noto Serif", serif;
  font-size: 58px;
  line-height: 72px;
  font-weight: 400;
  font-style: italic;
  color: #ff976b;
}

.header__description {
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

/* ===== Header Info ===== */
.header__info {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0 80px;
  color: #6f6f6f;
}

.header__hours {
  max-width: 709px;
}

.header__info-text {
  display: flex;
  align-items: flex-end;
}